[submodule "plugins/ipynb"]
	path = plugins/ipynb
	url = git://github.com/danielfrg/pelican-ipynb.git
[submodule "themes/salasdev"]
	path = themes/salasdev
	url = git://github.com/franksalas/salasdev.git
[submodule "plugins/render_math"]
	path = plugins/render_math
	url = git://github.com/danielfrg/pelican-ipynb.git
